## Problem Statement-
The objective of this project is to develop a  customer segmentation model for an online retail business in order to gain valuable insights into the customer base and implement targeted strategies to enhance customer satisfaction, increase sales and optimize marketing efforts. By analyzing transactional data and customer attributes such as purchasing behavior, demographics and geographic location, the project aims to create meaningful customer segments that can drive personalized marketing campaigns, improve inventory management and foster customer loyalty.

In [1]:
import pandas as pd
import numpy as np

## Load the Data

In [2]:
df= pd.read_excel(r"E:\New folder\Dataset_Identify customer segments for online retail with the use of K-means clustering\Online Retail.xlsx", sheet_name="Online Retail")

In [3]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

## Understand the data

In [4]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [6]:
df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [7]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

## Clean the data

In [8]:
df_cleaned = df.dropna()

In [9]:
df_cleaned = df_cleaned.drop_duplicates()

In [10]:
df_cleaned.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [11]:
df_cleaned['InvoiceDate'] = pd.to_datetime(df_cleaned['InvoiceDate'])

In [12]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 401604 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    401604 non-null  object
 1   StockCode    401604 non-null  object
 2   Description  401604 non-null  object
 3   Quantity     401604 non-null  int64
 4   InvoiceDate  401604 non-null  datetime64[ns]
 5   UnitPrice    401604 non-null  float64
 6   CustomerID   401604 non-null  float64
 7   Country      401604 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.6+ MB

## Transform the Data

In [13]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [14]:
numerical_cols = df_cleaned.select_dtypes(include=['float64', 'int64']).columns
scaler = StandardScaler()

In [15]:
df_cleaned[numerical_cols] = scaler.fit_transform(df_cleaned[numerical_cols])

In [16]:
categorical_columns = df_cleaned.select_dtypes(include=['object']).columns

In [17]:
for col in categorical_columns:
    df_cleaned[col] = df_cleaned[col].astype(str)

In [18]:
label_encoders = {}
for col in categorical_columns:
    le = LabelEncoder()
    df_cleaned[col] = le.fit_transform(df_cleaned[col])
    label_encoders[col] = le

In [19]:
print(df_cleaned.columns)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [20]:
df_cleaned['InvoiceYear'] = df_cleaned['InvoiceDate'].dt.year
df_cleaned['InvoiceMonth'] = df_cleaned['InvoiceDate'].dt.month
df_cleaned['InvoiceDay'] = df_cleaned['InvoiceDate'].dt.day
df_cleaned['InvoiceHour'] = df_cleaned['InvoiceDate'].dt.hour
df_cleaned['InvoiceMinute'] = df_cleaned['InvoiceDate'].dt.minute

In [21]:
df_cleaned = df_cleaned.drop(['InvoiceDate'], axis=1)

In [22]:
df_cleaned.dtypes

InvoiceNo          int64
StockCode          int64
Description        int64
Quantity         float64
UnitPrice        float64
CustomerID       float64
Country            int64
InvoiceYear        int32
InvoiceMonth       int32
InvoiceDay         int32
InvoiceHour        int32
InvoiceMinute      int32
dtype: object

In [23]:
df_cleaned.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,InvoiceYear,InvoiceMonth,InvoiceDay,InvoiceHour,InvoiceMinute
0,0,3249,3716,-0.024705,-0.013246,1.498736,35,2010,12,1,8,26
1,0,2649,3724,-0.024705,-0.001205,1.498736,35,2010,12,1,8,26
2,0,2855,861,-0.016714,-0.010379,1.498736,35,2010,12,1,8,26
3,0,2803,1813,-0.024705,-0.001205,1.498736,35,2010,12,1,8,26
4,0,2802,2776,-0.024705,-0.001205,1.498736,35,2010,12,1,8,26

## Feature Engineering

In [24]:
from sklearn.feature_selection import SelectKBest, f_classif

df_cleaned['TotalPrice'] = df_cleaned['Quantity'] * df_cleaned['UnitPrice']

In [26]:
X = df_cleaned.drop(['TotalPrice'], axis=1)
y = df_cleaned['TotalPrice']

In [27]:
selector = SelectKBest(score_func=f_classif, k=5)
X_new = selector.fit_transform(X, y)

C:\Users\hp\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\feature_selection\_univariate_selection.py:113: RuntimeWarning: divide by zero encountered in divide
  f = msb / msw

In [28]:
selected_features = X.columns[selector.get_support()]

In [29]:
selected_features

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'UnitPrice'], dtype='object')